/* right-panel.component.scss */
.file-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Adjust margin as needed */
}
.file-card {
  width: 3cm;
  height: 4cm;
  border: 1px solid #ccc;
  /* margin: 10px; */
  padding: 5px;
  /* Add a smooth transition effect */
}
.file-name {
  font-size: 10px; /* Adjust font-size as needed */
  margin-top: 1px; /* Adjust margin-top as needed */
}

.file-card:hover {
  transform: scale(2); /* Enlarge the card on hover */
}

.unsupported-file {
  text-align: center;
  color: #f00;
  width: 3cm;
  height: 4cm;
  border: 1px solid #ccc;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;  /* Red color for unsupported format text */
}
.no-files-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 100vh; /* Set the width to 100% */
  text-align: center;

}